wxpython
suspect
spec2nii
matplotlib
numpy<=1.23.5 # suspect compatibility (numpy types)
antspyx
gsnodegraph
gswidgetkit
pydicom
pymapvbvd
# scikit-image
scipy<=1.13.1 # mapvbvd compatibility (cumtrapz)
nibabel